@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

h1 {
  @apply text-4xl;
  @apply pt-4;
  @apply pb-6;
  /* font-family: 'Alice'; */
  font-weight: bold;
}

div {
  font-family: 'Alice';
}

p {
  @apply pb-4;
  font-family: 'Alice';
}

.content-page {
  @apply px-8;
  @apply py-2;
}

html {
  background-color: #00127a;
}

a {
  @apply transition;
  @apply duration-300;
  @apply ease-in-out;
  color: #0042dd;
  @apply hover:text-gray-900;
}

a.invert {
  @apply text-gray-300
  @apply hover:text-gray-50;
}
